/* ADMIN PART */

/* .admin {
  height: 450px;
} */

/* ADMIN CARD */
.main-products-container-admin {
  margin: 100px 10px 0px 180px;
  h2,
  p {
    text-align: center;
  }
}

.welcome-message-button-add {
  margin: 20px 0px 20px 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.products-list-container-admin {
  margin-top: 30px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2em;
  justify-items: center;
}
.product-card {
  box-shadow: 0px 1px 1px var(---blue-grey, 0.5);
  border-radius: 4px;
  width: 300px;
  height: 520px;
  padding: 10px;
}

/* change things for images */
.product-image {
  height: 350px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.product-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.product-infos {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.product-text {
  margin-top: 10px;
}

.product-text p,
.product-price-type p {
  margin-top: 10px;
}

.card-admin {
  display: flex;
  justify-content: start;
  align-items: center;
}

.button-up-del {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.button-up-del button {
  top: 75%;
  left: 50%;
  background: transparent;
  width: fit-content;
  padding: 1em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: var(---blue-grey);
}
.button-buy {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* UPDATE & CREATE PRODUCT ADMIN */
.container-add-product-page,
.container-update-product-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container-add-product,
.container-update-product {
  border-radius: 20px;
  width: 100%;
  padding: 50px;

  /* height: 700px; */
}

.container-add-product form,
.container-update-product form {
  background: rgba(255, 255, 255, 0.3);
  padding: 2rem;
  /* height: calc(100% - 3em); */
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.container-form-inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-left {
  width: 500px;
  height: 400px;
  margin-right: 50px;
}
.form-right {
  width: 200px;
  height: 400px;
}
/*
change color
.container-add-product form label {
} */

.container-update-product input,
.container-update-product textarea,
.container-update-product select,
.container-update-product button,
.container-add-product input,
.container-add-product textarea,
.container-add-product select,
.container-add-product button {
  background: transparent;
  width: 100%;
  padding: 2em;
  margin-top: 1rem;
  margin-bottom: 1em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  /* color: #fff; */
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.container-update-product input:hover,
.container-update-product select:hover,
.container-update-product textarea:hover,
.container-add-product input:hover,
.container-add-product select:hover,
.container-add-product textarea:hover {
  cursor: pointer;
  /* transform: scale(1.05); */
  background-color: rgba(255, 255, 255, 0.5);
  color: var(---blue-grey);
}

.container-add-product button {
  width: 15%;
}
