.products-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  justify-items: center;
}

.product-card {
  border: 1px solid;
  width: 300px;
  height: 450px;
  padding: 10px;
}

/* change things for images */
.product-image {
  height: 300px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.product-image img {
  max-width: auto;
  max-height: 100%;
}

.product-infos {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.product-text {
  margin-top: 10px;
}

.product-text p,
.product-price-type p {
  margin-top: 10px;
}

/*  PAGE DETAILS PRODUCT */
.product-details-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 3em;

  h3,
  p {
    margin-top: 25px;
  }
}

.one-product-image {
  /* change height and width when image ok */
  height: 300px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.one-product-image img {
  max-width: auto;
  max-height: 100%;
}

.buy-product-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-buy {
  display: flex;
  align-items: center;
}

.arrow-link {
  /* position: relative; */
  text-decoration: none;
  color: black;
  width: 20px;
}

.arrow-link::before {
  content: "\2190";
  /* position: absolute; */
  /* left: -10px; */
}
