* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

footer {
  height: 5vh;
  background-color: var(---blue-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-main button {
  border: none;
  background: none;
  color: var(---bg-light-beige);
}

body {
  background-color: var(---bg-light-beige);
}

.thankyou-page-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80%;
}

.thanks-message {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(---dark-beige);
  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
  }
}
